body {
  background-color: #f0f0f0; /* لون خلفية الصفحة */
  font-family: Arial, sans-serif; /* نوع الخط */
  text-align: center; /* محاذاة النصوص */
  margin: 0; /* إزالة الهوامش الافتراضية */
  padding: 0; /* إزالة الفراغات الافتراضية */
}

h1 {
  color: darkblue;
}

p {
  color: #555;
  font-size: 18px;
}

button {
  background: green;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
button:hover {
  background: darkgreen;
}
